* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow: auto;

}



.header {
  background: linear-gradient(rgb(228, 62, 62));
  color: white;
  justify-content: center;
  position: relative;
  height: 6rem;
  display: flex;
  align-items: center;
}

#icon {
  transform: rotate(52deg);
  height: 0.7rem;
  margin-left: -5px;
}



.rc-logo {
  width: 6rem;
  height: 6rem;
  display: flex;
  position: absolute;
  right: 0;
}


.container {
  display: flex;
  min-height: calc(100vh - 9rem);
  align-items: center;
  justify-content: flex-start;
  padding-left: 4rem;
  color: white;
  background-image: url("../img/3d-gym-equipment.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}

.nav {
  height: 3rem;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: rgb(37, 29, 47);

}

.nav>a {
  text-decoration: none;
  padding: 0 0.5rem;
  color: white;

}

.nav>a:hover {
  color: red;
}

.main>h1 {
  color: red;
}

.txt.active {
  color: red;
}

.main>p {
  padding: 4px 0;
}

.start-btn {
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(58, 52, 65);

}

.name,
.email {
  height: 1.5rem;
  width: 20rem;
}

.discription {
  height: 5rem;
  width: 20rem;
}

.input-form {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  margin-top: 2rem;
}

.form-label {
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem;



}

.form-label>input {
  display: flex;
  background-color: rgb(58, 52, 65);
  padding: 2px;

}

.social-icon {
  display: flex;
  flex-direction: column;
}

.social-icon>a {
  text-decoration: none;
  color: white;
}

.footer {
  width: 100%;
  color: rgb(79, 78, 76);
  display: flex;
  background-color: rgb(0, 0, 0);
}

.main-nav>a {
  display: flex;
  text-decoration: none;
  color: white;
  font-size: smaller;
}

.main-nav>h5 {
  color: rgb(79, 78, 76);
}
#foot-icon{
  display: flex;
  gap: 10px;
  padding: 3px 0;
}

@media screen and (max-width:480px) {
  .header {
    justify-content: start;
  }

  .main {

    font-weight: bold;
  }

  .main>h1 {
    font-size: medium;
  }

  .name,
  .email {
    height: 1.5rem;
    width: 15rem;
  }

  .discription {
    height: 5rem;
    width: 15rem;
  }

  .form-label {
    padding: 1rem;
  }

}