* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  font-style: normal;
  min-height: 100vh;

  overflow: auto;
  display: flex;
  flex-direction: column;

}



.header {
  background: linear-gradient(rgb(228, 62, 62));
  color: white;
  justify-content: center;
  position: relative;
  height: 6rem;
  display: flex;
  align-items: center;
}

#icon {
  transform: rotate(52deg);
  height: 0.7rem;
  margin-left: -5px;
}



.rc-logo {
  width: 6rem;
  height: 6rem;
  display: flex;
  position: absolute;
  right: 0;
}


.container {
  display: flex;
  min-height: auto;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
  padding-left: 4rem;
  color: white;
  background-image: url("../img/3d-gym-equipment.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}

.nav {
  height: 3rem;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: rgb(37, 29, 47);

}

.nav>a {
  text-decoration: none;
  padding: 0 0.5rem;
  color: white;
  transition: color ease 0.3s, transform 0.3s ease;
}

.nav>a:hover {
  color: red;
  transform: scale(1.05);
}

.main>h1 {
  color: red;
}

.txt.active {
  color: red;
  font-weight: 600;
}

.main>p {
  padding: 4px 0;
}

.start-btn {
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  flex: 1;

}

.name,
.email {
  height: 1.5rem;
  width: 20rem;
}

.discription {
  height: 5rem;
  width: 20rem;
}

.input-form {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  margin: 3rem 0;

}


.form-label {
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem;



}

.form-label>input {
  display: flex;
  background-color: rgb(255, 255, 255);
  padding: 0 5px;
  outline: none;

  border: 1px black solid;

}

.social-icon {
  display: flex;
  flex-direction: column;
}

.social-icon>a {
  text-decoration: none;
  color: white;
}

.footer {
  width: 100%;
  color: rgb(79, 78, 76);
  background-color: rgb(37, 29, 47);
}

.main-footer {
  display: flex;
}

.main-nav>a {
  display: flex;
  text-decoration: none;
  color: white;
  font-size: smaller;
}

.main-nav>h5 {
  color: rgb(79, 78, 76);
}

#foot-icon {
  padding: 5px 0;
}

.main-nav>h5,
.social-icon>h5 {
  padding: 5px 0;
}

.location {
  padding: 10px 0;
}

.location>p {
  font-size: small;
  padding: 3px 0;
}

.slogan {
  display: block;
  color: antiquewhite;
  width: fit-content;
}



.card>img {
  height: 300px;
  width: 250px;
  border-radius: 20px;
}

.card-part {
  padding: 10px;
}

.card-part>h2,
.card-part>h4,
.card-part>h5 {
  padding: 10px 0;
}

.explanation {
  width: 100%;
}

.card {
  display: flex;
  border: none;
  justify-content: space-between;
  margin: 1.5rem;
  padding: 1rem;
  border-radius: 30px;
  box-shadow: inset 0 0 10px #090101;
  color: rgb(3, 3, 3);
   opacity: 0;
  transform: translatey(40%);
  
  animation: scrolling 0.7s ease-out  forwards ;
  

}
@keyframes scrolling{
 
  to{
    opacity: 1;
   transform: translateX(0%);
  }
}

.card:hover {
  transform: scale(1.01);
}

.card-description>p {
  padding-left: 15px;
}

.tab {
  padding: 12px;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  font-size: larger;

}

.tabs {
  display: flex;
 align-items: center;
 justify-content: center;
  background-color: aliceblue;
  gap: 1rem;
  position: sticky;

  top: 0px;
  z-index: 1;


}

.tab::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  bottom: 0;
  transition: ease 0.2s;

  background-color: red;

}

.tab.active {
  color: red;
}

.tab.active::after {

  width: 100%;
  height: 3px;
  box-shadow: inset 0 0 10px red;

}




.panel {
  display: none;
}

.panel.active {
  display: block;
}



@media screen and (max-width:480px) {
  .header {
    justify-content: start;
  }

  .main {

    font-weight: bold;
  }

  .main>h1 {
    font-size: medium;
  }

  .name,
  .email {
    height: 1.5rem;
    width: 15rem;
  }

  .discription {
    height: 5rem;
    width: 15rem;
  }

  .form-label {
    padding: 1rem;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }





}